/* Reset default styles and set font family */
* {
    margin: 0;
    padding: 0;
    font-family: "Shadows into Light", sans-serif;
}
/*  Update header styles */
.header {

    min-height: 100vh;
    background-color: black;
    color: white;
    width: 100%;
    background-image: url(/assets/images/heroimage.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
/* navigation menu styles */
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    flex: 1;
    text-align: right;
}
/* navigation links styles */
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
/*  styles for anchor elemnts */
.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
/* Add hover effect to navigation links */
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f4433f;
    display: block;
    margin: auto;
    transition: 0.5s;
}
/* Enhance navigation link hover effect */
.nav-links ul li:hover::after {
    width: 100%;
}
/* Text area */
/* styling for .text-box class */
.text-box{
    border: 1px solid rgb(8, 212, 63);
    padding: 8px;
    background-color: rgb(240, 240, 227);
    
}
/* Style the h1 element for the header */
h1 {
    text-align: center;
    text-transform: uppercase;
    color: #210ce6;
    font-family: "Shadows into Light", sans-serif;
}
/* consistent text styles to paragraph elements */
p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
    font-family: "Shadows into Light", sans-serif;
}
/* styles for hero button */
.hero-btn {
    display: inline-block;
    text-decoration: none;
    text-align: justify;
    color: rgba(68, 20, 199, 0.881);
    border: 0px solid rgb(7, 7, 7);
    padding: 12px 12px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
/* hover effect to hero button */
.hero-btn:hover {
    border: 1px solid #f4433f;
    background: #f4433f;
    transition: 1s;

}
/* Center-align text in elements with .centered-paragraph class */
.centered-paragraph {
    text-align: center;
}
